/*
2023-08-21: suggestions from TfTHacker on how to change the CSS of cue and summary content
*/
div:not(.markdown-embed-content) >  :is(.cornell-left, .cornell-right) .markdown-preview-section [data-callout="cue"] {
    .callout-content {
        font-size: 12pt;
        color: blue;
    }

    .callout-title-inner {
        font-size: 12pt;
	font-style: italic;
	font-weight: 409;
        color: grey;
    }
}

div:not(.markdown-embed-content) >  :is(.cornell-left, .cornell-right) .markdown-preview-section [data-callout="summary"] {
    .callout-content {
        font-size: 12pt;
        color: chocolate;
    }

    .callout-title-inner {
	font-family: serif;
	font-style: italic;
	font-weight: 257;
        font-size: 14pt;
        color: black;
    }
}
